/* Common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: crimson;
}
.btn-primary{
    border-radius: 95px;
    background: crimson;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 100;

}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;



}

.section-description{
    color: #474747;
    text-align: center;
    font-size: 20px;
    background-image: url(../you.jpg);
    background-size: cover;
    

}

/*nav relelted style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
 
.nav-titleA{
    color: #181818;
    font-size: 15 px;
    font-weight: 800;
}

nav >ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/*header realated styles */
.header {
    
    background-color:aliceblue;
    background-image: url('../you.jpg');
    background-size: cover; /* Set background-size to cover */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Fixed background position */
    height: 110vh; /* Make header at least 100% of viewport height */
}

.banner {
    padding: 15px 15px 15px 150px;
    display: flex;
    align-items: self-start;
    justify-content: center; /* Center content vertically and horizontally */
    height: 100%; /* Occupy the entire height of the header */
}

.banner .profile-pic{
    width: 500px;
}
.banner-greeting {
    font-size: 35px;
    color: #181818;
   
}

.banner-title {
    font-size: 55px;
    font-weight: 700;
    

}

/*main section syles*/


/*about section style*/
.about{
    padding: 130px;
    border-radius: 10px;
    background:white;
    margin: 130px 0px ;
   
}

main{
    width: 1140px;
    margin: 0px auto;
}

.about-info-container{
    display: flex;
    justify-content:space-around ;
}
.about-info{
    text-align: center;
}